.jumbotron {
    border: solid;
    border-width: .5px;
    height: 150px;
}

.container {
    border: solid;
    border-width: .5px;
    border-radius: 5px;
    background-image: ;
}

button {
    border-radius: 4px;
}

body {
    background-color: blue;
}
